*{
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.navbar{
    display: flex;
    height: 60px;
    background-color: #0f1111;
    color: white;
    align-items: center;
    justify-content: space-evenly;

}
.navbar-log{
    height: 50px;
    width: 100px;
}

.logo{
    background-image: url(white_text_amazon.png);
    height: 50px;
    background-size: cover;
    width: 100%;
}

.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid white;
}
/* 1st box */

.nav-address{
    padding: 6px;
}
.add-first{
    color: #CCCCCC;
    font-size: 12px;
    margin-left: 17px;
    

}
.add-sec{
    color: #FFFFFF;
    margin-left: 5px;
    
}
.nav-icon{
    display: flex;
    
}
/* box 3 */
.Nav_search{
    display: flex;
    justify-content: space-evenly;
    height: 40px;
    width: 650px;
    background-color: pink;
    border-radius: 4px;
}
.select_all{
    width: 52px;
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
}
.Search_bar{
    
    width: 100%;
    font-size: 1.3rem;
}
.Search_icon{
    width: 45px;
    color: #0f1111;
    background-color: rgb(240, 139, 6);
    font-size: 1.4rem;
    align-items: center;
    justify-content: center;
    display: flex;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
/* box number4 */
.accout_sign{
    padding: 6px;
}
.Hello_s{
    font-size: 12px;
    color: #FFFFFF;

}
/* box 5 */
.box_4{
    padding: 6px;
}
.returns{
    font-size: 0.68rem;
    color: #FFFFFF;
}
.cart_icon{
    font-size: 1.5rem;
    display: flex;
    padding: 6px;
}
.text_cart{
    font-size: 1rem;
    padding-top: 7px;
    
}
.nav_main{
    display: flex;
    height: 39px;
    background-color: #232F3E;
    color: white;
    align-items: center;
    /* justify-content: space-evenly; */
    

}
.menu_icon{
    display: flex;
    margin-left: 10px;
    font-size: 1.5rem;
}
.all_menu{
    display: flex;
    margin-left: 7px;
    font-size: 1.2rem;

}
.mainu_bar  {
    
    display: flex;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
    
  

}
.mainu_bar p{
   margin-left: 15px;
   font-size: 0.90rem;
    
}
.newlaunches{
    margin-left: 70px;
    position: relative;
    padding: 8px;
}

.hero_section{
    background-image: url("0-PC_Hero_2x._CB594150943_.jpg");
    display: flex;
    height: 350px;
    background-size: cover;
    justify-content: space-evenly;
    background-color: #2e2e;
    
    

}
.box1{
    /* border: 2px solid black; */
    height: 420px;
    width: 275.46px;
    background-color: #ffffff;
    margin-top: 20%;
    padding: 20px;
    
}
.box1_img{
   margin-top: 20px;
   
}
.box1_img p a{
    
    color: #007185;
    text-decoration: none;
}
.box1_img p{
    margin-top: 25px;
}
.sign_in{
    height: 150px;
    width: 275px;
    /* border: 2px solid black ; */
}
.button_s{
    
    text-align: center;
    margin-top: 39px;
    
}
.button_s a{
    font-size: 1rem;
    text-decoration: none;
    background-color: #FFD814;
   padding: 7px 50px 7px 50px;
   border-radius: 6px;
   color: #0f1111;
}
.sponsered_img{
    margin-top: 80px;
    margin-left: -19px;
}
.sponsered_img p{
    text-align: end;
    font-size: 0.85rem;
}
#new_hero_section{
    padding-top: 150px;
    display: flex;
    justify-content: space-evenly;
}
.Top{
    height: 55px;
    cursor: pointer;
    background-color: #252929;
    color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.Box_footer{
    
    height: 400px;
    
    background-color: #232F3E;
}
.know h2 {
    margin-left: 10px;
    position: relative;
}
.box_containet{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    color: #ffffff;

}

.Inner_content ul li{
    padding-top: 20px;
    color: #DDDDDD;
    list-style: none;
    font-size: 0.85rem;
}
.amazon_logo_language{
    margin-top: 1px;
    height: 68px;
    background-color:#232F3E ;
    display: flex;
    align-items: center;
    justify-content: center;

}
.AMAZON_LOGO_FOR_FOOTER{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.amazon_logo_language button{
    padding: 7px 20px;
    background-color: transparent;
    border: 1px solid white;
    color: #CCCCCC;
    margin-left: 40px;
    border-radius: 4px;
}
.desh_name{
    background-color:#232F3E ;
    display: flex;
    justify-content: center;
    height: 25px;
    align-items: center;
}
.desh_name ul{
    display: flex;
    
    
}

.desh_name ul li{
        
        list-style: none;
        color: #CCCCCC;
        font-size: 12px;
        
        margin-left: 20px;
        
        
}
.desh_name2{
    background-color:#232F3E ;
    display: flex;
    justify-content: center;
    height: 50px;
    
}
.desh_name2 ul{
    display: flex;
}
.desh_name2 ul li{
    list-style: none;
        color: #CCCCCC;
        font-size: 12px;
        
        margin-left: 20px;
}
.last_footer{
    display: flex;
    justify-content: space-evenly;
    
    height: 200px;
    background-color: #131a22;
    color: white;
}
.BOX_CONTENT_bottom{
   margin-top: 30px; 
   
}
.BOX_CONTENT_bottom ul li{

    line-height: 0;
    font-size: 12px;
}
